{# Import javascript for menu #} 

{# Define Macro which will recursively render the child nodes #}

{% macro renderChildren(node) %}
    {% if node.hasChildren %}
    	<div class="hfSubMenu">
              <div class="hfSubMenuWrapper">
                    <ul>
                    {% for child in node.children %}
                            <li class="hfMenuItem{{ node.active ? ' hfactive' : '' }}">
                                    <a class="hfMenuLink" hr ef="{{child.url}}">{{child.name|raw}}}</a>
                                    {{ _self.renderChildren(child) }}
                            </li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    {% endif %}
{% endmacro %}

<div class="hfMenu">
  <div class="hfMenuWrapper">
    <ul>
    {% for node in action.menu.menuNodes %}			
            <li class="hfMenuItem{{ node.active ? ' hfactive' : '' }}">
                    <a class="hfMenuLink" href="{{node.url}}">{{node.name|raw}}</a>
                    {{ _self.renderChildren(node) }}
            </li>
    {% endfor %}
    </ul>        
  </div>
</div>